{% extends 'base.html' %}

{% block header %}

  {% if user.is_authenticated %}

    {% if provider == "google" %}
      <img class="avatar" src="{{ user_info.picture }}" alt="avatar">
      <span class="username">{{ user.first_name }}</span>
    {% else %}
      <img class="avatar" src="{{ user_info.photo }}" alt="avatar">
      <span class="username">{{ user.first_name }}</span>
    {% endif %}

    <a href="{% url 'account_logout' %}" role="button" class="btn btn-outline-primary">Выйти</a>
    
  {% endif %}

{% endblock %}


{% block content %}

  {% if user.is_authenticated %}
    <div class="card-view">
      <div class="card-view__top">
        <h1 class="text-start title">Ваши воспоминания:</h1>
        <a href="{% url 'add_memory' %}" role="button" class="btn btn-primary btn-lg add-btn">Добавить</a>
      </div>

      {% if memory_data %}
      <div class="card-group">
    
        {% for memory in memory_data %}
          <div class="card text-start" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">{{ memory.name }}</h5>
              <p class="card-text">{{ memory.description }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
      {% else %}
          <p class="text-center no-remember">У вас нет ни одного воспоминания</p>
      {% endif %}

    </div>

  {% else %}

    <p class="text-center text lh-lg">
      "TravelMemo" – это онлайн-сервис, где вы можете хранить и делиться впечатлениями о любимых местах, которые вы посетили. Загружайте свои фотографии, пишите заметки, оставляйте отзывы и рекомендации для других пользователей. Просматривайте места, которые хотите посетить, а также получайте советы о том, куда стоит отправиться в следующей поездке.
      <br>С TravelMemo вы всегда будете иметь доступ к вашим путешественническим воспоминаниям, которые вы можете легко поделиться со своими друзьями и близкими. Наш сервис также позволит вам находить новые места, которые вы еще не посетили, а также вдохновляться идеями для будущих путешествий.
      Присоединитесь к TravelMemo уже сегодня и сохраните ваши путешествия на всю жизнь!
    </p>
    <div>
      <a href="{% url 'google_login' %}" role="button" class="btn btn-danger btn-lg google">Войти с помощью Google</a>
      <a href="{% url 'vk_login' %}" role="button" class="btn btn-primary btn-lg">Войти c помощью VK</a>
    </div>

  {% endif %}
  
{% endblock %}
